body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    border-style: solid;
    border-width: thick;
}

.input-group-text {
    width: 120px;
    font-weight: bold;
}

#turn-marker {
    background-color: red;
    border-radius: 50%;
    border: 2px black solid;
    width: 40px;
    height: 40px;
}

img{
    max-width: 50%;
    height: auto;
}

h1 {
    display: block;
    font-family: sans-serif;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#currentTurn {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#grid {
    margin: 20px auto;
    display: table;
    width: 300px;
    height: 500px;
    padding: 10px;
    background: blue;
    border-radius: 5px;
}

.col {
    width: 10px;
    height: 70px;
    margin: 3px;
    border: 2px black solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border-radius: 50%
}

.row {
    width: 500px;
    margin: 3px auto;
    display: flex;
    justify-content: center;
}

.marker {
    width: 80px;
    height: 80px;
}

#winner-display {
    display: none;
    background-color: red;
    color: white;
}


#winner-modal-content {
    background-color: white;
    width: fit-content;
    height: fit-content;
    /* width: 200px;
    height: 100px; */
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* left: calc(50% - 100px);
    top: calc(50% - 50px); */
    border: 3px solid black;
    box-sizing: border-box;
}

#winner-modal-message {
    display: block;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
}

#winner-modal {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
}

#scoreboard {
    text-align: center;
}

#winner-modal.hidden {
    display: none;
}

#reset-button {
    margin-top: 10px;
}

#nameRed {
    color: red;
}

#nameYellow {
    color: rgb(255, 204, 0);
}
